* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(236, 196, 195);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 90%;
  margin-left: 5%;
}
header h1{
  color: #3a2315;
  font-size: 50px;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin: 20px;
  list-style: none;
}

header ul a{
  text-decoration: none;
  color: #3a2315;
  font-size: 20px;
}

header ul a:hover{
  color: #aa9486;
}


img {
  width: 38%;
  height: 32%;
  border-radius: 30%;
}

header .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: -20px;
}

.principal {
  width: 80%;
  margin: auto;
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.principal p{
  font-weight: bold;
}

.principal h1{
  color: #3a2315;
  margin: 10px 0;
  font-size: 60px;
}

button{
  background-color: #3a2315;
  color: #fff;
  padding: 15px 35px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
}

.trabalhos {
  width: 80%;
  margin: auto;
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
}

.trabalhos img{
  margin-top: -5%;
  
}

.trabalhos .hide{
  display: none;
  
}
.trabalhos ul li{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
}

.trabalhos ul i {
  color: #915a39;
  font-size: 20px;
  margin-right: 10px;
}

.trabalhos p{
  font-size: 18px;
  margin: 40px 0 10px 0;
  font-weight: bold;
}

.trabalhos pre{
  font-size: 14px;
  margin: 5px 0;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.trabalhos pre i{
  color: rgb(75, 173, 75);
  font-size: 20px;
  margin-right: 5px;
}
.comentarios {
  display: flex;
  margin-top: 15%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.comentario img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.comentario p {
  font-size: 12px;
}

.comentario h3 {
  margin: 5px 0;
}

a img {
  margin-top: 8%;
  width: 70px;
  margin-left: 90%;
}

footer {
  background-color: #130601;
  height: 200px;
  display: flex;
  color: #fff;
  justify-content: space-around;
  padding: 30px 0;
}

footer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20%;
}

footer p {
  margin: 10px 0;
}

footer h4 {
  font-size: 18px;
}

footer .sociais ul {
  display: flex;
  align-items: center;
}

footer .sociais ul li{
  margin: 10px;
  list-style: none;
}


@media only screen and (max-width: 900px) {
 .principal {
  width: 100%;
}
.trabalhos {
  width: 100%;
}
.principal h1{
  font-size: 40px;
}

footer p {
  margin: 10px 0;
  font-size: 12px;
}

footer h4 {
  font-size: 16px;
}

footer .sociais ul {
  display: flex;
  align-items: center;
}
}
@media only screen and (max-width: 650px) {

  button {
    width: 60%;
  }

  img {
    width: 70%;
    margin-bottom: 40px;
  }

  .principal {
    display: block;
    text-align: center;
  }
  

  .principal h1{
    font-size: 50px;
  }

  .trabalhos {
    display: block;
    text-align: center;
  }

  .trabalhos pre{
    display: block;
  }

  .trabalhos ul{
    margin: 0 0 0 25%;
  }

  .trabalhos .show{
    display: none;
  }

  .trabalhos .hide{
    display: block;
    margin-left: 15%;
  }


 a img {
   margin-left: 80%;
 }

  footer {
    display: block;
    height: 280%;
  }

  footer .coda {
    text-align: center;
  }

  footer img {
    margin: 0;
  }

  footer h4 {
    font-size: 20px;
  }

  footer p {
    font-size: 14px;
  }

  footer .sobre, .contato, .sociais {
    margin-left: 20px;
    margin-top: 30px;
  }
 
 }
 
 @media only screen and (max-width: 500px) {
  header {
    display: block;
    text-align: center;
  }

  header ul {
   display: flex;
   justify-content: space-around;
  }

  header ul a{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
   }

  header .logo {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: -20px;
  }

  a img {
    margin-top: 20px;
    width: 50px;
  }
}